@model ExternalRegisterViewModel;
@{
    Layout = "../_Layout";
    ViewData["Title"] = "Registration";
}

<div>
    <div class="header-holder">
        <h2>
            Продолжение регистрации
        </h2>
    </div>
    
    <form class="form" asp-controller="External" asp-action="ExternalRegister" method="post">
        <input type="hidden" asp-for="ReturnUrl"/>
        <p class="form__errors">
            @Model.Errors
        </p>
        <div class="form__input-label">
            Username
        </div>
        <div class="form__input-holder">
            <input asp-for="Username"/>
        </div>
        <div class="form__button-holder">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>
