@model RegisterViewModel

@{
    Layout = "../_Layout";
    ViewData["Title"] = "Registration";
}

<form asp-controller="Account" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <p>
        @foreach (var error in Model.Errors)
        {
            <div>
                @error
            </div>
        }
    </p>
    <div>
        <label>Username</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="ConfirmPassword" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<a asp-controller="Account" asp-action="Login"
   asp-route-returnUrl="@Model.ReturnUrl">Back to Login</a>